# Don't track content of these folders
#FlowSimulation/HM/data/simulations/it0/*
#FlowSimulation/HM/data/simulations/it1/*
#FlowSimulation/HM/data/simulations/it2/*
#FlowSimulation/HM/data/simulations/it3/*


*.pkl